body {
    background-color: black;
    margin-top: 180px;
    background-image: url("https://davecsimpson.files.wordpress.com/2014/06/mighty-morphin-power-rangers-widescreen-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    opacity: 0.8;
    color: red;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
}

#timer {
    height: auto;
    width: auto;
    color: red;
    background: rgba(255, 255, 255, 0.8);
}

.quizbox {
    background: rgba(255, 255, 255, 0.8);
}